body {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0
  box-sizing: border-top;
  line-height: 1.5rem;
  }
ul {
    list-style-type: none;
}
a {
  text-decoration: none;
  color: rgba(250, 229, 229, 1.0);
  font-size: 22px;
}
.header {
  width: auto;
  height: 100px;
  
}
.header-wrapper {
  width: auto;
  height: 100%;
  background-image: url(sea-red-2_.jpg) ; ;
  background-size: cover;
  
}
  
.header-up {
  height: 50%;
}
.header-up img {
  margin: 50px 0 0 50px;

}
.header-down {
  height:300px;
  width: suto;
  /*background-color: rgb(231, 228, 226); */
}

.profile {
  position: absolute;
  top: 300px;
  left: 50px;
  letter-spacing: 0.5rem;
  line-height: 1.5rem;
} 
.head-logo {
  width: 500px;
  height: 150px;
  margin: 50px suto;
}
.header-list {
  height: 60px;
  /*background-color: rgba(248, 143, 108, 0.924); */
}
.head-list{
  display: flex;
  flex-wrap:  wrap;


}
.head-list li {
  width: 33%;
  text-align: center;
  /*background-color: bisque; */
  font-size: 24px;
  font-family: "Franklin Gothic",Arial, Helvetica, sans-serif;
  color:rgb(250, 229, 229);
  padding: 10px 0;
}
main {
  background-color:  rgba(2581,211,137,0.9);
  height: 1000px; 
}



.main-wrapper {
  height: 700px;
  width : 100%;
 
 /* display: flex; 
  flex-wrap: wrap; :*/

}
.main-left {
  width: 30%;
  margin: 50px 0 0 50px;
}
.main-right {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 ato;
  text-align: left;

}
.info-text  {
  display: block;
  flex: 1;
  margin: 0 auto;
}
.info-text  p {
  margin-top: 50px;
  font-weight: bold;
  font-size: 25px;;
  color: rgb(9, 24, 108);
}
.list-value {
  flex: 3;
  display: block;
  margin:0;
}
.list-value p {
  margin-top: 50px;
  font-weight: bold;
  font-size: 25px;;
  color: rgb(9, 24, 108);
}
.view {
  margin-left: 20px; 
  position: absolute;
  right: 250px;
  color: rgb(22, 71, 49);
  font-size :15px;
}

.center-top {
  background-color: bisque;
  margin: 0 auto;
  width: 1000px;
  height: 150px;
  display: inline-block;
  display: flex;
}
.center-top  p {
  margin: 80px 0 0 350px;
  font-size: 25px;
  font-weight: bolder;
  color: red;

}
.center {
  background-color: bisque;
  margin: 0 auto;
  width: 1000px;
  height: 550px;
  display: flex;
  
}
.center-2 {
  background-color: bisque;
  margin: 0 auto;
  width: 1000px;
  height: 150px;
  display: block;
 /* display: flex;*/
  
}

.whatis {
  display: none;
}

.test {
  display: inline-block;
  text-align: center;
  margin-left: 200px;
}
.test p:child(0) {
  display: block;
}

.go {
  margin-left: 200px;
  display: none;
}

.mei {
  display: none;
  color:rgb(9, 24, 108)
}

.view {
  font-size: 25px;
}









footer {
  height: 150px;
  width: auto;
  background-color: rgba(232, 165, 19, 0.849);
}

.footer-wrapper{
  display: flex;
  flex-wrap: wrap;
  width:auto;
}
.footer-left {
  flex: 2;

  height : 150px;
  /*background-color: black;*/
  color: white;
}

.footer-mid {
  flex: 5;
 
  height: 150px;
 /*background-color: rgb(4, 3, 3); */
}
.footer-right{
  flex: 2;
  
  height: 150ps;
  /* background-color: black; */
  color: white;
}
.footer-logo {
  margin: 30px 0 0 30px;
}
.footer-rigrt-list li {
  margin: 30px 30px;
  text-align: right;

  }
}

/*@media(max-width: 1000px){
  .main-wrapper, .container {
    height: 300px;
    }
    .header-list {
      position: relative;
      top: 1rem;
      width: 100%;
      }

}

@media(max-width: 670px){
  .header-wrapper {
    
  }

      
}*/

