body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0;
  box-sizing: border-top;
  line-height: 1.5rem;
  }
ul,li {
    list-style-type: none;
}
a {
  text-decoration: none;
  color: rgba(250, 229, 229, 1.0);
  font-size: 22px;
}
:root {
  --backcolor:  #F5C76B;
  --mainback: rgb(244, 214, 176);
  font-family: Arial, Helvetica, sans-serif;
}


.header {
  width: auto;
  height: 800px;
  margin: 0;
}
.header-wrapper {
  width: auto;
  height: 100%;
  background-image: url(sea-red-2_.jpg) ; ;
  background-size: cover;
  margin: 0;
 
  
}
  
.header-up {
  height: 50%;
}
.header-up img {
  margin: 50px 0 0 50px;

}
.header-down {
  height:300px;
  width: suto;
  /*background-color: rgb(231, 228, 226); */
}

.profile {
  position: absolute;
  top: 300px;
  left: 50px;
  letter-spacing: 0.5rem;
  line-height: 1.5rem;
}
.head-logo {
  width: 500px;
  height: 150px;
  margin: 50px suto;
}
.header-list {
  height: 60px;
  /*background-color: rgba(248, 143, 108, 0.924); */
}
.head-list{
  display: flex;
  flex-wrap:  wrap;


}
.head-list li {
  width: 33%;
  text-align: center;
  /*background-color: bisque; */
  font-size: 24px;
  font-family: "Franklin Gothic",Arial, Helvetica, sans-serif;
  color:rgb(250, 229, 229);
  padding: 10px 0;
}

.main-wrapper {
  display: flex;
  margin: 0;
  place-items: center;
  background-color: #F5C76B;
  width: auto;
  height: 650px;
}
.container {
  margin: 0 auto;
  width: 1000px;
  height: 650px;
  background-color: rgb(244, 214, 176);
}
.main-top {
  /*background-color: rgb(218, 246, 203);*/
  display: inline-block;
  height: 100px;
  width: 100%;
  text-align: center;
}
.main-mid {
 /* background-color: rgb(197, 238, 238);*/
  width: 100%;
  height: 400px;
  display: flex;
}
.main-mid-left {
  /*background-color: rgb(125, 124, 124);:*/
  width: 35%;
  height: 400px;
  text-align: center;
} 
.main-mid-left img {
  height: 200px;
  width: 200px;
  margin-top: 50px;
}
.main-mid-right {
  display: flex;
  
}
.main-mid-right li {
  line-height: 250%;
  
}
.main-mid-right li .pick {
  position:  relative;
}
.info-right li:hover {
  cursor: pointer;
}
.main-mid-right span {
  position:  absolute;
  right: 150px;
}
.answer {
  display: none;
}
.answer-2{
  display: none;
}
.main-under {
  width: 100%;
  height: 150px;
 /* background-color: rgb(250, 134, 134);*/
}
.answer {
  display: none;
  border: 1px solid rgb(11, 154, 232);
  background-color: #edece9;
  font-size: 16px;
  text-align: left;
  padding-right: 30px;
}







footer {
  height: 150px;
  width: auto;
  background-color: rgba(232, 165, 19, 0.849);
}

.footer-wrapper{
  display: flex;
  flex-wrap: wrap;
  width:auto;
}
.footer-left {
  flex: 2;

  height : 150px;
  /*background-color: black;*/
  color: white;
}

.footer-mid {
  flex: 5;
 
  height: 150px;
 /*background-color: rgb(4, 3, 3); */
}
.footer-right{
  flex: 2;
  
  height: 150ps;
  /* background-color: black; */
  color: white;
}
.footer-logo {
  margin: 30px 0 0 30px;
}
.footer-rigrt-list li {
  margin: 30px 30px;
  text-align: right;

  }


/*@media(max-width: 1000px){
  .main-wrapper, .container {
    height: 300px;
    }
    .header-list {
      position: relative;
      top: 1rem;
      width: 100%;
      }

}

@media(max-width: 670px){
  .header-wrapper {
    
  }

      
}*/

