
body {
  background-color: whitesmoke;

}
.test-view {
  color: rgb(224, 12, 12);
}

.answer {
 display: none;
  color: rgba(235, 10, 179, 0.952);
}
li {
  color: rgb(14, 8, 181);
}
li,.check:hover {
  cursor: pointer; 
}
.its {
  display: none;
} 

.check,.its {
  color:rgb(18, 18, 18);
}