img {
  width: 150px;
  height: 150px;
}

span {
  color:rgb(24, 126, 92)
 font-size: 18px;
}
.view {
  color: red;
  display: none;
  height:150px;
  width: 150px;
}
.vieww {
  color: rgb(26, 21, 158);
  display: none;
  height:150px;
  width: 150px;
}
.lili {
  color: rgb(5, 46, 12);
  display: none;
  height:150px;
  width: 150px;
}
