table {
  margin-left:20%;
  border-collapse: collapse;
  border: solid 5px #723ce5;
  width: 60%;
}
th, td {
  border: dashed 2px #ef2929;
}

.slit {
  width: 50%;
  background-color: aliceblue;
  display: flex;
}

.side_1 {
  width: 35%;
}
/*.nonview {
  display:  none;
}*/